body, html {
  font-family: lato, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: black;
  margin: 0;
  padding: 0; }

section div.title {
  text-align: left; }

a {
  color: #006094;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

a.button {
  color: white;
  background: #008ec6;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.15em; }

input, select {
  font-size: 1em; }

small {
  font-weight: normal; }

h1, h2 {
  font-family: scala-sans, lato, Arial,sans-serif;
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 0 10px; }

h1 {
  font-size: 2.22822rem; }

h2 {
  font-size: 1.7408rem; }

h3, h4, h5, h6 {
  font-size: 1.36rem; }

p {
  max-width: 800px; }

blockquote {
  margin: 0;
  padding: 0 1em;
  border: 1px solid #008ec6;
  border-radius: 10px;
  font-size: 1.15em;
  width: 70%; }

code {
  font-size: 1em;
  background: #f4f3f1;
  padding: 2px 4px 1px 4px;
  border-radius: 5px;
  border: 1px solid #ccc; }

pre {
  display: block;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 10px;
  background: #f4f3f1;
  border: 1px solid #ccc;
  width: 80%;
  white-space: pre-wrap;
  overflow-x: hidden; }
  pre code {
    border: none;
    background: none;
    padding: 0; }

img {
  max-width: 100%; }

header {
  border-bottom: 1px solid #ddddd8; }
  header div.wrapper {
    padding: 7px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap; }
    header div.wrapper div.logo a {
      white-space: nowrap;
      display: flex;
      align-items: center; }
      header div.wrapper div.logo a svg {
        margin: 10px; }
      @media (max-width: 370px) {
        header div.wrapper div.logo a svg.payoff {
          display: none; } }
    header div.wrapper div.menu {
      flex-grow: 1;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 14px; }
      header div.wrapper div.menu ul {
        list-style: none;
        padding: 0;
        margin: 10px;
        position: relative;
        top: -2px;
        text-align: right; }
        header div.wrapper div.menu ul li {
          display: inline-block;
          padding: 0;
          margin: 0; }
          header div.wrapper div.menu ul li a {
            text-decoration: none; }
        header div.wrapper div.menu ul li:before {
          content: '-';
          margin: 0 .25em; }
        header div.wrapper div.menu ul li:first-child:before {
          display: none; }

main {
  display: block;
  margin: auto;
  position: relative; }

#editor {
  position: absolute;
  top: -23px;
  right: 0; }

article {
  min-height: 10em; }

section {
  margin: 2em 0;
  position: relative; }

section.image {
  padding: 0;
  margin: 0;
  max-width: none; }
  section.image div.image img {
    display: block;
    width: 100%; }

section.breadcrumbs {
  margin: 1em 0; }
  section.breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    section.breadcrumbs ul li {
      display: inline-block;
      margin: 0;
      padding: 0; }
      section.breadcrumbs ul li a {
        text-decoration: underline; }
        section.breadcrumbs ul li a:hover {
          text-decoration: none; }
      section.breadcrumbs ul li:after {
        color: #006094;
        content: '>';
        margin-left: 5px; }
      section.breadcrumbs ul li:last-child:after {
        display: none; }

iframe {
  max-width: 100%; }

ul.tagcloud {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.tagcloud li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0; }
    ul.tagcloud li a {
      display: inline-block;
      height: 28px;
      line-height: 28px;
      padding: 0 1em;
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #333;
      font-size: 13px;
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s; }
    ul.tagcloud li a:hover {
      background-color: #008ec6;
      border: 1px solid #008ec6;
      color: #fff; }

footer {
  clear: both;
  height: 150px;
  color: #c3bcb2;
  font-size: 12px; }
  footer a {
    color: #A8D7E1; }

div.add {
  margin: 8px 35px; }

a.editlink, .staff {
  font-size: 0.8em;
  font-weight: bold;
  color: #f45b3d !important; }
  a.editlink:before, .staff:before {
    content: '[ '; }
  a.editlink:after, .staff:after {
    content: ' ]'; }

.remove_student {
  position: absolute;
  top: -23px;
  right: 0; }

section.students {
  clear: right; }
  section.students table {
    border: 1px solid #ccc;
    background-color: #f4f3f1;
    width: 100%;
    border-radius: 3px;
    color: #333;
    margin-bottom: 40px; }
    section.students table td, section.students table th {
      border-top-color: white;
      border-bottom: 1px solid #DFDFDF;
      color: #555; }
    section.students table th {
      text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
      font-weight: normal;
      padding: 7px 7px 8px;
      text-align: left;
      line-height: 1.3em;
      font-size: 12px; }
    section.students table td {
      padding: 4px 7px 2px;
      vertical-align: top; }

section.progress {
  clear: right; }
  section.progress table {
    width: 100%;
    border-collapse: collapse;
    background: url("/static/grid.png"); }
    section.progress table .y-axis {
      background: white;
      border-right: 1px solid #036;
      width: 8em;
      text-align: right;
      padding: 6px; }
    section.progress table .x-axis {
      background: white;
      border-top: 1px solid #036; }
      section.progress table .x-axis .right {
        float: right; }
      section.progress table .x-axis .left {
        float: left; }
    section.progress table .origin {
      background: white; }

.bar {
  height: 20px;
  background-color: #6c3;
  text-align: right;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 12px; }

section.answers table {
  border-collapse: collapse;
  width: 100%;
  margin-top: -20px; }
  section.answers table h2 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px; }
  section.answers table pre {
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
    white-space: pre-wrap; }
  section.answers table pre.missing {
    color: red; }
  section.answers table td {
    padding: .5em 0;
    padding-top: 4px;
    vertical-align: top; }
  section.answers table td.step {
    width: 77px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px; }

section.step table.wizard {
  width: 100%;
  height: 400px;
  margin-top: -15px;
  border-collapse: collapse; }
  section.step table.wizard td {
    vertical-align: top;
    height: 100%; }
  section.step table.wizard td.header {
    border-bottom: 2px solid #036;
    margin-top: -15px;
    padding: 10px;
    height: 10px; }
    section.step table.wizard td.header img#checkbox {
      margin-left: -12px;
      vertical-align: middle; }
    section.step table.wizard td.header img#fullscreen_toggle {
      float: right;
      margin-right: -12px; }
    section.step table.wizard td.header h1, section.step table.wizard td.header h2 {
      display: inline-block;
      font-size: 22px;
      font-weight: normal;
      position: relative;
      top: 4px;
      left: 4px; }
    section.step table.wizard td.header h2 {
      float: right; }
  section.step table.wizard td.answer {
    padding-bottom: 15px;
    text-align: right;
    font-weight: bold;
    height: 0; }
    section.step table.wizard td.answer div.correct {
      color: #390;
      font-size: 12px; }
    section.step table.wizard td.answer div.incorrect {
      color: #f45b3d; }
    section.step table.wizard td.answer textarea {
      vertical-align: top;
      width: 100%;
      max-width: 400px;
      height: 70px;
      border: none;
      border: 1px solid #ccc; }
    section.step table.wizard td.answer ul.answers {
      margin: 0;
      padding: 0;
      display: inline-block;
      padding-right: 15px;
      max-width: 389px;
      vertical-align: top;
      border: 1px solid #ccc;
      list-style: none;
      text-align: left;
      font-weight: normal; }
      section.step table.wizard td.answer ul.answers li {
        text-indent: -24px;
        margin: 0;
        margin-left: 24px;
        padding: 0; }
      section.step table.wizard td.answer ul.answers input {
        vertical-align: top;
        position: relative;
        top: 2px; }
      section.step table.wizard td.answer ul.answers input, section.step table.wizard td.answer ul.answers label {
        cursor: pointer; }

section.step div.step_clarifications {
  position: relative; }
  section.step div.step_clarifications div.clarification {
    height: 0;
    overflow: hidden; }
    section.step div.step_clarifications div.clarification img {
      margin-top: 1em;
      max-width: 100%; }
  section.step div.step_clarifications input.toggle {
    display: none; }
  section.step div.step_clarifications input.toggle + label {
    position: absolute;
    top: -18px;
    margin-left: -16px;
    height: 14px;
    width: 14px;
    cursor: pointer;
    background-image: url("/static/info.png");
    background-size: contain; }
  section.step div.step_clarifications input.toggle:checked + label {
    background-image: url("/static/info2.png"); }
  section.step div.step_clarifications input.toggle:checked + label + div.clarification {
    height: auto;
    border-top: 2px solid #036; }

section.step div.step_footer {
  padding-top: 20px;
  border-top: 2px solid #036; }
  section.step div.step_footer ul.progress {
    list-style: none;
    margin: -1px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; }
    section.step div.step_footer ul.progress li {
      height: 34px;
      flex: 1 0 20px;
      margin: 1px;
      text-align: center; }
    section.step div.step_footer ul.progress li:first-child,
    section.step div.step_footer ul.progress li:last-child {
      flex: 2 0 80px;
      max-width: 200px;
      text-align: left; }
    section.step div.step_footer ul.progress li:last-child {
      text-align: right; }
    section.step div.step_footer ul.progress input {
      height: 100%;
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      cursor: pointer; }
    section.step div.step_footer ul.progress input.previous, section.step div.step_footer ul.progress input.next {
      margin: 0; }
    section.step div.step_footer ul.progress input.previous {
      color: black;
      background: #e9e7e4;
      text-align: left;
      border-radius: 8px 0 0 8px;
      padding-left: 10px; }
    section.step div.step_footer ul.progress input.previous:disabled {
      cursor: default;
      color: #bbb; }
    section.step div.step_footer ul.progress input.next {
      text-align: right;
      border-radius: 0 8px 8px 0;
      color: white;
      background: #008ec6;
      font-weight: bold;
      padding-right: 10px; }
    section.step div.step_footer ul.progress input.step {
      background: #f4f3f1;
      color: black; }
    section.step div.step_footer ul.progress input.current {
      background: none;
      cursor: default;
      font-weight: bold;
      color: black; }
    section.step div.step_footer ul.progress input.passed {
      background: #dcf7dc; }

main.fullscreen {
  display: flex;
  text-align: center;
  /* fallback in case flex is not supported */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f4f3f1; }
  main.fullscreen article {
    background: white;
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 660px;
    margin: 2em 0;
    position: relative; }

form.management label {
  display: inline-block;
  width: 120px; }

form.management ul#id_groups {
  list-style: none; }
  form.management ul#id_groups label {
    width: auto; }

@font-face {
  font-family: scala-sans;
  src: url(scala_sans_bold-webfont.woff2) format("woff2"), url(scala_sans_bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: lato;
  src: url(lato-black-webfont.woff2) format("woff2"), url(lato-black-webfont.woff) format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: lato;
  src: url(lato-bold-webfont.woff2) format("woff2"), url(lato-bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: lato;
  src: url(lato-regular-webfont.woff2) format("woff2"), url(lato-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: lato;
  src: url(lato-light-webfont.woff2) format("woff2"), url(lato-light-webfont.woff) format("woff");
  font-weight: 300;
  font-style: normal; }

/*# sourceMappingURL=main8.scss.css.map */