Source: bps-monitor
Section: unknown
Priority: optional
Maintainer: Jaap Joris Vens <jj@rtts.eu>
Build-Depends: debhelper (>=9), python3, dh-python, python3-setuptools
Standards-Version: 3.9.7
Homepage: https://github.com/JaapJoris/bps-monitor

Package: bps-monitor
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-bs4, python3-termcolor, python3-requests
Description: Monitoring script for the Best Practices in Statistics (BPS) web application
 This package installs a number of monitoring scripts that can be used
 to monitor the BPS web application. It is specifically tailored to the
 deployment specifics at Tilburg University, and hence not suitable for
 general use.
