{% load static %}
{% load autodidact %}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Best Practices in Statistics - Tilburg University{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'autodidact/hamburgers.css' %}">
    <link rel="stylesheet" href="{% static 'autodidact/main8.scss.css' %}"/>
    <link rel="stylesheet" href="{% static 'uvt_user/uvt.css' %}"/>
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    {% block header %}
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="/">
              <svg width="173" height="44"><title>Tilburg University</title><use href="{% static 'uvt_user/dist.svg' %}#tiu-logo"></use></svg>
              <svg width="140" height="17" class="payoff"><title>Understanding Society</title><use href="{% static 'uvt_user/dist.svg' %}#tiu-logo-payoff"></use></svg>
            </a>
          </div>
          {% if user.is_authenticated %}
            <div class="menu">
              <ul>
                <li>Logged in as <b>{{request.user.username}}</b></li>
                {% if request.user.is_staff %}
                  <li><a href="{% url 'manage' %}">Manage</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Log out</a></li>
              </ul>
            </div>
          {% endif %}
        </div>
      </header>
    {% endblock %}

    {% block main %}
      <main>
        {% block content %}
        {% endblock %}
      </main>
    {% endblock %}

    {% block footer %}
      <footer>
        <div class="wrapper">
          <p>
            BPS version <span id="bps_version">{% bps_version %}</span><br>
          </p>
          <p>
            Copyright {% now 'Y' %} Tilburg University.
          </p>
          <p>
            BPS is <a target="_blank" href="https://github.com/rtts/bps">free software</a>: you can modify and/or redistribute it under the terms of the <a target="_blank" href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">GNU Affero General Public License</a>.
          </p>
        </div>
      </footer>
    {% endblock %}

    {% block extrascript %}{% endblock %}
    {% block extrabody %}{% endblock %}
  </body>
</html>
