{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
  <script src="{% static 'mathjax/MathJax.js' %}?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block content %}
  <section class="breadcrumbs">
    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="/">BPS</a></li>
          <li><a href="{% url 'course' course.slug %}">{{course}}</a></li>
          <li><a href="{% url 'session' course.slug session.number %}">Session {{session.number}}</a></li>
          <li><a href="{% url 'assignment' course.slug session.number assignment.number %}">Assignment {{assignment.number}}: {{assignment.name}}</a></li>
        </ul>
      </nav>
    </div>
  </section>

  {% include 'autodidact/include/step.html' %}

{% endblock %}
