{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
  <script src="{% static 'mathjax/MathJax.js' %}?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block content %}
  <section class="breadcrumbs">
    <div class="wrapper">
      <ul>
        <li><a href="/">BPS</a></li>
        <li><a href="{{course.get_absolute_url}}">{{course}}</a></li>
      </ul>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <h1>{{course.name}}</h1>
      {{course.description|safe}}

      <h2>Available sessions</h2>
      <ul>
        {% for session in course.sessions.all %}
          {% if session.active %}
            <li><a href="{% url 'session' course.slug session.number %}">Session {{session.number}}{% if session.name %}: {{session.name}}{% endif %}</a></li>
          {% elif user.is_staff %}
            <li><a href="{% url 'session' course.slug session.number %}">Session {{session.number}}{% if session.name %}: {{session.name}}{% endif %}</a></li>
          {% endif %}
        {% empty %}
          <li class="empty">No sessions available</li>
        {% endfor %}
        {% if user.is_staff and perms.autodidact.add_session %}
          <li><a class="editlink" href="{% url 'add_session' course.slug %}">Add a session</a></li>
        {% endif %}
      </ul>
    </div>
  </section>

  {% if user.is_staff and perms.autodidact.change_course %}
    <a class="edit page" href="{% url 'admin:autodidact_course_change' course.pk %}"><img src="{% static 'cms/edit.png' %}"></a>
  {% endif %}

{% endblock %}
