$black: #000;
$white: #fff;
$darkblue: #036;
$lightblue: #008ec6;
$grey: #e1ddd8;
$lightgrey: #e9e7e4;
$reallylightgrey: #f4f3f1;
$bordergrey: #ccc;
$red: #f45b3d;
$green: #390;
$step_color: $reallylightgrey;
$current_step_color: white;
$passed_step_color: #dcf7dc;
$border: 2px solid $darkblue;
$max-width: 960px;

body, html {
  font-family: lato, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: black;
  margin: 0;
  padding: 0;
}

$linkcolor: #006094;

a {
  color: $linkcolor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.button {
  color: white;
  background: $lightblue;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.15em;
}

input, select {
  font-size: 1em;
}

small {
  font-weight: normal;
}

h1, h2 {
  font-family: scala-sans, lato, Arial,sans-serif;
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 0 10px;
}
h1 {
  font-size:2.22822rem;
}
h2 {
  font-size:1.7408rem;
}
h3, h4, h5, h6 {
  font-size:1.36rem;
}

p {
  max-width: 800px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border: 1px solid $lightblue;
  border-radius: 10px;
  font-size: 1.15em;
  width: 70%;
}

code {
  font-size: 1em;
  background: $reallylightgrey;
  padding: 2px 4px 1px 4px;
  border-radius: 5px;
  border: 1px solid $bordergrey;
}

pre {
  code {
    border: none;
    background: none;
    padding: 0;
  }
  display: block;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 10px;
  background: $reallylightgrey;
  border: 1px solid $bordergrey;
  width: 80%;
  white-space: pre-wrap;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

div.wrapper {
  max-width: $max-width;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #ddddd8;

  div.wrapper {
    padding: 0;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;

    div.logo {
      a {
        white-space: nowrap;
        display: flex;
        align-items: center;
        svg {
          margin: 10px;
        }
        svg.payoff {
          @media(max-width: 370px) { display: none }
        }
      }
    }

    div.menu {
      flex-grow: 1;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 14px;

      ul {
        list-style: none;
        padding: 0;
        margin: 10px;
        position: relative;
        top: -2px;
        text-align: right;

        li {
          display: inline-block;
          padding: 0;
          margin: 0;

          a {
            text-decoration: none;
          }
        }
        li:before {
          content: '-';
          margin: 0 .25em;
        }
        li:first-child:before {
          display: none;
        }
      }
    }
  }
}

main {
  display: block;
  margin: auto;
  position: relative;
}

#editor {
  position: absolute;
  top: -23px;
  right: 0;
}

article {
  min-height: 10em;
}

section {
  margin: auto;
  position: relative;
}

section.imagesection {
  padding: 0;
  max-width: none;
  div.image {
    img {
      display: block;
      width: 100%;
    }
  }

  div.title h1 {
    text-align: center;
    background: $darkblue;
    color: white;
    font-size: 1.36rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 15px;
    margin: 0;
  }

  div.edit {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

section.breadcrumbs {
  margin: 10px 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a {
        text-decoration: underline;
        &:hover { text-decoration: none }
      }

      &:after {
        color: $linkcolor;
        content: '>';
        margin-left: 5px;
      }
      &:last-child:after {
        display: none;
      }
    }
  }

  div.edit {
    position: absolute;
    top: 0;
    right: 5px;
  }
}

iframe {
  max-width: 100%;
}

ul.tagcloud {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
    a {
      display: inline-block;
      //max-width: 100px;
      height: 28px;
      line-height: 28px;
      padding: 0 1em;
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #333;
      font-size: 13px;
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s;
    }
    a:hover {
      background-color: $lightblue;
      border: 1px solid $lightblue;
      color: #fff;
    }
  }
}

footer {
  clear: both;
  height: 150px;
  color: #c3bcb2;
  font-size: 12px;

  a {
    color: #A8D7E1;
  }
}

div.add {
  margin: 8px 35px;
}

a.editlink, .staff {
  font-size: 12px;
  font-weight: bold;
  color: #f45b3d !important;
}

.remove_student {
  position: absolute;
  top: -23px;
  right: 0;
}

section.attendance {
  float: right;
  z-index: 1000;
  width: 180px;
  background: $reallylightgrey;
  border: 1px solid $bordergrey;
  padding: 10px;
  font-size: 11px;
  line-height: 1.5;
  margin-left: 20px;

  hr {
    margin-top: 20px;
  }

  form {
    text-align: right;
    margin-top: 15px;

    .ticket_error {
      border: 1px solid red;
    }

    .ticket_error_text {
      color: red;
    }

    input {
      margin: 2px;
      box-sizing: border-box;
    }
    input[type=text] {
      width: 60px;
    }
    input[type=submit] {
      min-width: 60px;
    }
  }

  div.ticket {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}

section.students {
  clear: right;

  table {
    border: 1px solid $bordergrey;
    background-color: $reallylightgrey;
    width: 100%;
    border-radius: 3px;
    color: #333;
    margin-bottom: 40px;

    td, th {
      border-top-color: white;
      border-bottom: 1px solid #DFDFDF;
      color: #555;
    }
    th {
      text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
      font-weight: normal;
      padding: 7px 7px 8px;
      text-align: left;
      line-height: 1.3em;
      font-size: 12px;
    }
    td {
      padding: 4px 7px 2px;
      vertical-align: top;
    }
  }
}

section.progress {
  clear: right;

  table {
    width: 100%;
    border-collapse: collapse;
    background: url('/static/grid.png');

    .y-axis {
      background: white;
      border-right: 1px solid #036;
      width: 8em;
      text-align: right;
      padding: 6px;
    }

    .x-axis {
      background: white;
      border-top: 1px solid #036;

      .right {
	float: right;
      }
      .left {
	float: left;
      }
    }

    .origin {
      background: white;
    }
  }
}

.bar {
  height: 20px;
  background-color: #6c3;
  text-align: right;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 12px;
}

section.answers {
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: -20px;

    h2 {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    pre {
      font-size: 12px;
      margin: 0;
      margin-bottom: 10px;
      white-space: pre-wrap;
    }

    pre.missing {
      color: red;
    }

    td {
      vertical-align: top;
    }
    td.step {
      width: 77px;
      text-align: right;
      padding-right: 10px;
      padding-top: 5px;
    }
  }
}

section.step {
  table.wizard {
    width: 100%;
    height: 400px;
    margin-top: -15px;
    border-collapse: collapse;

    td {
      vertical-align: top;
      height: 100%;
    }
    td.header {
      border-bottom: $border;
      margin-top: -15px;
      padding: 10px;
      height: 10px;

      img#checkbox {
	margin-left: -12px;
	vertical-align: middle;
      }

      img#fullscreen_toggle {
        float: right;
        margin-right: -12px;
      }

      h1, h2 {
	display: inline-block;
	font-size: 22px;
	font-weight: normal;
        position: relative;
        top: 4px;
        left: 4px;
      }

      h2 {
	float: right;
      }
    }

    td.answer {
      padding-bottom: 15px;
      text-align: right;
      font-weight: bold;
      height: 0;

      div.correct {
        color: $green;
        font-size: 12px;
      }
      div.incorrect {
        color: $red;
      }

      textarea {
	vertical-align: top;
        width: 100%;
	max-width: 400px;
	height: 70px;
        border: none;
        border: 1px solid $bordergrey;
      }

      ul.answers {
        margin: 0;
        padding: 0;
        display: inline-block;
        padding-right: 15px;
        max-width: 389px;
        vertical-align: top;
        border: 1px solid #ccc;
        list-style: none;
        text-align: left;
        font-weight: normal;

        li {
          text-indent: -24px;
          margin: 0;
          margin-left: 24px;
          padding: 0;
        }
        input {
          vertical-align: top;
          position: relative;
          top: 2px;
        }
        input, label {
          cursor: pointer;
        }
      }
    }
  }

  div.step_clarifications {
    position: relative;
    div.clarification {
      height: 0;
      overflow: hidden;
      img {
        margin-top: 1em;
        max-width: 100%;
      }
    }
    input.toggle {
      display: none;
    }
    input.toggle + label {
      position: absolute;
      top: -18px;
      // left is set inline
      margin-left: -16px;
      height: 14px;
      width: 14px;
      cursor: pointer;
      background-image: url('/static/info.png');
      background-size: contain;
    }
    input.toggle:checked + label {
      background-image: url('/static/info2.png')
    }
    input.toggle:checked + label + div.clarification {
      height: auto;
      border-top: $border;
    }
  }

  div.step_footer {
    padding-top: 20px;
    border-top: 2px solid $darkblue;

    ul.progress {
      list-style: none;
      margin: -1px;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;

      li {
        height: 34px;
        flex: 1 0 20px;
        margin: 1px;
        text-align: center;
      }
      li:first-child,
      li:last-child {
        flex: 2 0 80px;
        max-width: 200px;
        text-align: left;
      }
      li:last-child {
        text-align: right;
      }

      input {
        height: 100%;
        width: 100%;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
      }
      input.previous, input.next {
        margin: 0;
      }
      $rad: 8px;
      input.previous {
        color: black;
        background: $lightgrey;
        text-align: left;
        border-radius: $rad 0 0 $rad;
        padding-left: 10px;
      }
      input.previous:disabled {
        cursor: default;
        color: #bbb;
      }
      input.next {
        text-align: right;
        border-radius: 0 $rad $rad 0;
        color: white;
        background: $lightblue;
        font-weight: bold;
        padding-right: 10px;
      }
      input.step {
        background: $step_color;
        color: black;
      }
      input.current {
        background: none;
        cursor: default;
        font-weight: bold;
        color: black;
      }
      input.passed {
        background: $passed_step_color;
      }
    }
  }
}

main.fullscreen {
  display: flex;
  text-align: center; /* fallback in case flex is not supported */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $reallylightgrey;

  article {
    background: white;
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 660px;
    margin: 2em 0;
    position: relative;
  }
}

form.management {
  label {
    display: inline-block;
    width: 120px;
  }
  ul#id_groups {
    list-style: none;
    label {
      width: auto;
    }
  }
}

@font-face{
  font-family: scala-sans;
  src: url(scala_sans_bold-webfont.woff2) format("woff2"),
       url(scala_sans_bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: lato;
  src: url(lato-black-webfont.woff2) format("woff2"),
       url(lato-black-webfont.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: lato;
  src: url(lato-bold-webfont.woff2) format("woff2"),
       url(lato-bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal;}

@font-face{
  font-family: lato;
  src: url(lato-regular-webfont.woff2) format("woff2"),
       url(lato-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: lato;
  src: url(lato-light-webfont.woff2) format("woff2"),
       url(lato-light-webfont.woff) format("woff");
  font-weight:300;
  font-style:normal;
}

div.edit {
  text-align: center;
  &.page {
    position: fixed;
    left: 1em;
    top: 1em;
    z-index: 1000;
  }
}

div.edit a, div.edit button, a.edit{
  font-family: inherit;
  font-size: 1rem !important;
  font-weight: normal !important;
  color: red !important;
  text-transform: none !important;
  text-decoration: none;
  color: inherit;
  border: none;
  display: inline;
  background: none;
  cursor: pointer;

  &:before {
    content: '[ ';
  }
  &:after {
    content: ' ]';
  }
}

form.cms {
  div.wrapper {
    overflow: hidden;
  }

  div.global_error {
    border: 2px dotted red;
    padding: 10px;
    margin: 1em -10px;
    background: #f001;
    color: red;
    font-weight: bold;
  }

  fieldset {
    padding: 2em;
    margin-bottom: 2em;
    border: 0.5px solid black;
    border-radius: 3px;

    legend {
      font-size: 1.15em;
    }
  }

  div.formfield {
    margin: 5px 0;
    padding: 10px 0;
    clear: both;
    box-sizing: border-box;

    &#type, &#number {
      width: 75%;
      clear: none;
      float: left;
    }
    &#number {
      width: 20%;
      float: right;
    }
  }
  div.formfield.error {
    border: 2px dotted red;
    padding: 10px;
    margin: 0 -10px;
    background: #f001;
  }
  div.formfield.required {
    div.label {
      font-weight: 700;
    }
    input, select, textarea {
      border: 1px solid black;
    }
  }

  div.label {
    font-size: 0.8rem;
    font-weight: 400;
  }

  div.input {
    overflow: hidden;
    margin: 5px 0;
  }

  div.helptext, span.required {
    color: #666;
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  span.required {
    font-style: italic;
  }

  input, select, textarea {
    background: white;
    color: black;
    border: 1px solid #aaa;
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
  }
  textarea {
    height: 25em;
  }

  input[type=checkbox] {
    width: auto;
  }

  select {
    background: white;
  }

  div.filefield {
    border: 1px solid #aaa;
    background: white;
    padding: 4px;

    input { border: none }
  }

  ul.errorlist {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    list-style: none;
    color: red;
    font-size: 12px !important;

    li {
      margin: 0;
      padding: 0;
    }
  }

  .errors {
    color: red;
    font-weight: bold;
  }
}
