{% extends 'base.html' %}

{% block navigation %}
  <ul>
    <li class="visitedPage"><a href="/">Home</a></li>
    <li class="visitedPage"><a href="{% url 'manage' %}">Management console</a></li>
    <li class="visitedPage"><a href="{% url 'manage_employee' %}">Add staff member</a></li>
    <li class="currentPage"><a href="">Search results</a></li>
  </ul>
{% endblock %}

{% block content %}
  <section class="students">
    {% with nr=employees|length %}
      <h1>{{nr}} employee{{nr|pluralize}} matching your query</h1>
    {% endwith %}
    <table>
      <tr>
        <th>Employee</th>
        <th>Employee number</th>
        <th>Email</th>
      </tr>
      {% for employee in employees %}
        <tr>
          <td>
            {{employee.full_name|default:'[unavailable]'}}
            <small>(<i>{{employee.first_name|default:'[unavailable]'}}</i>)</small></td>
          <td>{{employee.ANR|default:'[unavailable]'}}</td>
          <td>{{employee.email|default:'[unavailable]'}}</td>
        </tr>
      {% endfor %}
    </table>
  </section>
{% endblock %}
