{% extends 'base.html' %}

{% block navigation %}
  <ul>
    <li class="visitedPage"><a href="/">Home</a></li>
    <li class="visitedPage"><a href="{% url 'manage' %}">Management console</a></li>
    <li class="visitedPage"><a href="{% url 'manage_employee' %}">Manage staff members</a></li>
    <li class="currentPage"><a href="">Employee details</a></li>
  </ul>
{% endblock %}

{% block content %}
  <section class="students">
    <h2>Employee details</h2>
    <dl>
      <dt>Full name:</dt>
      <dd>{{employee.uvt_user.full_name|default:'[unavailable]'}}</dd>
      <dt>First name:</dt>
      <dd>{{employee.uvt_user.first_name|default:'[unavailable]'}}</dd>
      <dt>Employee number:</dt>
      <dd>{{employee.uvt_user.emplId|default:'[unavailable]'}}</dd>
      <dt>Email address:</dt>
      <dd>{{employee.uvt_user.email|default:'[unavailable]'}}</dd>
    </dl>

    <h2>Permissions</h2>
    <form action="" method="POST" class="management">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Save changes">
    </form>

    <h2>Taught sessions</h2>

    <table>
      <tr>
        <th>Date</th>
        <th>Class number</th>
        <th>Session</th>
      </tr>

      {% for class in employee.teaches.all %}
        <tr>
          <td>{{class.date}}</td>
          <td>{{class.number}}</td>
          <td>{{class.session}}</td>
        </tr>
      {% endfor %}
    </table>

  </section>
{% endblock %}
